*{
    margin: 0rem;
    padding: 0rem;
    
    box-sizing: border-box;
}


nav{
    height: 6.2rem;
    padding-top: 2.5rem;
    text-align: end;
    background-color: #F6F4EB;
}
nav ul li{
   
    padding: 2.5rem;
    display: inline;
}

a{
    border: 0.1rem solid #001F3F;
    background-color: #F6F4EB;
    text-decoration: none;
    border-radius: 0.4rem;
    padding: 0.3rem;
    color: #001F3F;
    cursor: pointer;
}
.search{
   padding: 0rem;
}
.floats{
    float: left;
   
}

.First-container{
    background-color: #F6F4EB;
    background-image: url(Pictures/Jury-hammer.jpg);
    height: 41.58rem;
    text-align: center;
}
.Second-container{
    background-color: #F6F4EB;
    height: 48.58rem;
    text-align: center;
   
}
.Third-container{
    background-color: #93B1A6;
    height: 48.58rem;
    text-align: center;
}
.child1, .child2{
    display: flex;
    padding: 3rem;
}


.criminal, .civil, .corporate, .entertain, .environ, .hr{
    border: 0.1rem solid #001F3F;
    border-radius: 0.4rem;
    padding: 3rem;
    width: 25rem;
    height: 7rem;
    margin: 2rem;
    background-color: #001F3F;
    color: #F6F4EB;
    cursor: pointer;
  
}