*{
    margin: 0rem;
    padding: 0rem;
    
    box-sizing: border-box;
}/* no gaps*/

header{
    padding: 1.5rem;
}
nav{
    height: 6.3rem;
    padding-top: 2.5rem;
    text-align: end;
    background-color: #ECE5C7;
}
nav ul li{
   
    padding: 2.5rem;
    display: inline;
}
#logo-text{
    padding-top: 2rem;
    font-size: large;
    padding-left: 0.5rem;
}

a{
    border: 0.1rem solid burlywood;
    background-color: burlywood;
    text-decoration: none;
    border-radius: 0.4rem;
    padding: 0.3rem;
    color: black;
    cursor: pointer;
}
.search{
   padding: 0rem;
}
.floats{
    float: left;
}

.First-container{
    background-color: #C2DED1;
    
    height: 41.58rem;
    text-align: center;
}
.Second-container{
    background-color: #ECE5C7;
    height: 48.58rem;
    text-align: center;
}
.Third-container{
    background-color: #EDE6DB;
    height: 48.58rem;
    text-align: center;
}